<h1>odk에 스팸</h1>
<p>전쟁이다</p>
<form action ="/home/spam">
  보낼사람: <input type = "text" name = "to">
  제목:<input type = "text" name = "title">
  <input id="x" type="hidden" name="content">
  <trix-editor input="x"></trix-editor>
  <input type = "submit">
</form>
